body {
  width: 100%;
  margin: 0;
}

main {
  overflow: hidden;
  padding-bottom: 300px;
}


.headerpg1 {
  background-color: #C197D2;
  width: 100%;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.logo {
  width: 300px;
  height: 300px;
  margin-top: -50px;
  margin-left: 20px;
  float: left;

}

.heading1 {
  margin-top: 30px;
  color: white;
  font-size: 90px;
  font-family: 'Dancing Script', cursive; 
  

}

.banner {
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-color:  #FB6B90;
}

h2 {
  text-align: center;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  font-size: 17px;
}

legend {
  text-align: center;
}

fieldset {
  height: 300px;
  width: 360px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  background-color: #211522;
  border: none;
  padding: 20px;
  box-shadow:  5px 10px 18px #383737;
}

.form {
  width: 100%;
  padding: 13px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

label {
  color: white;
}


button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: none;
  background-color: #FB4570;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  color: white;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  box-shadow:  5px 10px 20px whitesmoke;
}

.social-container {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 25px;
  
}

h4 {
  text-align: center;
  margin-top: 40px;
  font-family:'Open Sans', sans-serif;
}

.social-container {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 25px;  
}

.fa {
  padding: 25px;
  font-size: 5.5rem;
  width: 30px;
  text-decoration: none;
  text-align: center;
  margin: 3px 8px;
  border-radius: 10px ;  
}

.fa:hover {
  background-color: #FB4570;
  
}

.fa-facebook {
  background-color: #613659;
  color: white; 
}

.fa-snapchat-ghost {
  background-color: #613659;
  color: white;
}

.fa-instagram {
  background-color: #613659;
  color: white;
}

/* Where the Hompage styling begins  */

body {
  width: 100%;
  margin: 0;
}